<a href="https://colab.research.google.com/github/Nikhil-NR/Data-science-/blob/main/Nikhil_DS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First day

In [ ]:
type(12.2)

float

In [ ]:
type('s')

str

In [ ]:
type(1j + 2)

complex

In [ ]:
li = [set,list,tuple,dict,str]
print(li)
type(li)

[<class 'set'>, <class 'list'>, <class 'tuple'>, <class 'dict'>, <class 'str'>]

list

In [ ]:
Tuple = (set,list,tuple,dict,str)
print(Tuple)
type(Tuple)

(<class 'set'>, <class 'list'>, <class 'tuple'>, <class 'dict'>, <class 'str'>)

tuple

In [ ]:
details = {'Name':'Nikhil N', 'College':'BMSIT&M', 'Department':'MCA', 'Sem':'3rd' }
type(details)

dict

Addition

In [ ]:
a = 35
b= 65

a + b
print(a+b)

100

Subtraction

In [ ]:
a - b

-30

Multiplaction

In [ ]:
a*b

2275

Division

In [ ]:
a/b

0.5384615384615384

Floor Division

In [ ]:
a//b

0

Exponent

In [ ]:
a**b

23143171985618148385244286678913597734970588950324139906433544566777271711544017307460308074951171875

In [ ]:
str1 = "Hello, this is Nikhil N"
print(str1)
type(str1)

Hello, this is Nikhil N

str

In [ ]:
#insert
var=[1,2,3,4,5,6]
print(var)

[1, 2, 3, 4, 5, 6]

In [ ]:
var.insert(7,8)
print(var)

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
#sum
print(sum(var))

29

In [ ]:
#indexing
Nikhil=[1,2,3,4,5,5,66,67]
Nikhil.index(4)

3

In [ ]:
Nikhil[2:4]

[3, 4]

In [ ]:
max(Nikhil)

67

day-2 task

Manipulation of List

In [ ]:
#list containing only integers
li = [2,4,6,8]
print(li)


li.insert(10,12)
print(li)

[2, 4, 6, 8]
[2, 4, 6, 8, 12]

In [ ]:
#Extend list
el1 = [1,2,3,4,5]
el2 = [6,7,8,9,10]
el1.extend(el2)
print("Extended list of el1",el1)

el2.extend(el1)
print("Extended list of el2",el2)

Extended list of el1 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Extended list of el2 [6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Swapping
a = 12
b = 3
c = 45

a,c = c,a

print("After Swapping")
print(a)

b,c = c,b
print(b)

c,a = a,c
print(a)

After Swapping
45
12
3

In [ ]:
#insertion
li = [1,3,4,5,6,7,8,9,10,11,23,67,89,23,12,78,90,22,67,88,89]
li.insert(8,37)
print(li)
li.insert(2,12)
print(li)
li.insert(100,5)
print(li)

[1, 3, 4, 5, 6, 7, 8, 9, 37, 10, 11, 23, 67, 89, 23, 12, 78, 90, 22, 67, 88, 89]
[1, 3, 12, 4, 5, 6, 7, 8, 9, 37, 10, 11, 23, 67, 89, 23, 12, 78, 90, 22, 67, 88, 89]
[1, 3, 12, 4, 5, 6, 7, 8, 9, 37, 10, 11, 23, 67, 89, 23, 12, 78, 90, 22, 67, 88, 89, 5]

In [ ]:
name = 'Sharan'
course = 'MCA'
name.capitalize()

'Sharan'

In [ ]:
name.count("a")

2

In [ ]:
name.find("h")

1

In [ ]:
name.isalpha()

True

In [ ]:
name.islower()

False

In [ ]:
name.lower()

'sharan'

In [ ]:
a = "python is a programming language"
a.split(" ")

['python', 'is', 'a', 'programming', 'language']

In [ ]:
b = "Python"
c = "Language"
b+c
b + " "+ c

'Python Language'

In [ ]:
a*3

'python is a programming languagepython is a programming languagepython is a programming language'

In [ ]:
str1 = 'Hello to the kingdom'
len(str1)

20

In [ ]:
str1[4:8]

'o to'

In [ ]:
str1.replace('the','a')

'Hello to a kingdom'

Day-3

In [ ]:
#Tuples
this1 = ('mango','banana','orange','kiwi','melon','mango')
this1[1]

'banana'

In [ ]:
this1[3:5]

('kiwi', 'melon')

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = ('abc',3,4,'bnh')
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 'abc', 3, 4, 'bnh')

In [ ]:
tup = tuple('hello')
print(tup)

('h', 'e', 'l', 'l', 'o')

In [ ]:
#to do
#Create a tuple ('hello','world')
tu1 = tuple('hello')
tu2 = tuple('world')
print(tu1 + tu2)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')

In [ ]:
tu1 = ('hello','world')
print(tu1)

('hello', 'world')

In [ ]:
#tuple unpacking
tuple4 = ("hello",'good','people')
a,b,c = tuple4
print(a)
print(b)
print(c)

hello
good
people

In [ ]:
#Dictionary
dic ={'name':'Nikhil','age':22}

In [ ]:
#deleting the key
del dic['name']

In [ ]:
print(dic)

{'age': 22}

In [ ]:
dic ["number"] = 1234

In [ ]:
dic ["name"] = "Nikhil"

In [ ]:
print(dic)

{'age': 22, 'number': 1234, 'name': 'Nikhil'}

In [ ]:
dic.pop("age")

22

In [ ]:
print(dic)

{'number': 1234, 'name': 'Nikhil'}

In [ ]:
#conditional statement
i = 5
if (i<25):
  print("i is less than 25")

print('I am not in if block')

i is less than 25
I am not in if block

In [ ]:
#To do 
#specify what it is doing : if the assigned value is equal to the initialized value the print hello or else print the initialized value thrice
#also mention and clear errors : indentation

string = "Nikhil"
if string == "Nikhil":
  print('hello')
else:
  string = string*3
  print(string)

hello

In [ ]:
string = "Nikhil"
if string == "Nikhil N":
  print('hello')
else:
  string = string*3
  print(string)

NikhilNikhilNikhil

In [ ]:
i = 20
if (i<15):
  print("i is smaller than 15")
  print("i am in if block")

else:
  print("i is greater or equal to 15")
  print("i am in else block")

i is greater or equal to 15
i am in else block

In [ ]:
#Nested if-else
i = 40
if (i == 40):
  if(i<=15):
    print("i is smaller than 15")

  if(i<12):
    print("i is smaller than 12 too")

  else:
    print('i is greater than 15')

else:
  print()

i is greater than 15

Day-4

In [ ]:
#if-else

if(condition):
  statements......

elif(condition):
  statements

else:
  statements

In [ ]:
i = 20
if(i == 20):
   print('i is equal to 20')
   print('we are in if block')

elif ( i == 15):
  print('i is 15')
  print('we are i elif(1) block')

elif( i == 10):
  print('i is 10')
  print('we are in elif(2) blck')

else:
  print('i is equal to nothing')
  print('i is in else block')

i is equal to 20
we are in if block

In [ ]:
i = 100
if(i == 20):
   print('i is equal to 20')
   print('we are in if block')

elif ( i == 15):
  print('i is 15')
  print('we are i elif(1) block')

elif( i == 10):
  print('i is 10')
  print('we are in elif(2) blck')

else:
  print('i is equal to nothing')
  print('i is in else block')

i is equal to nothing
i is in else block

In [ ]:
#shorthand if statement
if condition: Statement

In [ ]:
i = 10
if i == 10: print('i is less than 10')

i is less than 10

In [ ]:
#To do
#you have to explore if-else short hand code
#else - i is greater than or equal 

if i == 10:
  print('i is equal to 10')
else:
  -i >= 10
  print('-i is greater than equal to 10')

i is equal to 10

In [ ]:
#for loop
for var in iterable:
  #statements

In [ ]:
l = [1,2,3,4,5,6,7]
for variable in l:
  print(variable)

1
2
3
4
5
6
7

In [ ]:
l = ['tomato','brinjal','carrot']
for i in l:
  print(i)

tomato
brinjal
carrot

In [ ]:
l = ['abc','efg']
for i in l:
  for j in i:
    print(j)

a
b
c
e
f
g

In [ ]:
#Replace mushroom with banana
l = ['tomato','brinjal','carrot','mushroom']
for i in l:
  print(i)

tomato
brinjal
carrot
mushroom

In [ ]:
s = input()

1

In [ ]:
print('String')

String

In [ ]:
print(type(s))

<class 'str'>

In [ ]:
s = list(input())

abcd

In [ ]:
#to do
#improvise
print(s)

['a', 'b', 'c', 'd']

In [ ]:
s = str(input())

for i in s:
  print(i)

nik
n
i
k

In [ ]:
d = dict()
d['a'] = 123
d['b'] = 456
for i in d:
  print(i,d[i])

a 123
b 456

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    break
print('current letter',letter)

current letter w

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    pass
print('current letter',letter)

current letter d

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    continue
print('letter',letter)

letter d

In [ ]:
#range function
list(range(1,10,1)) #list(staring point,ending point,iteration))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [10,20,30,40]
for i in range(len(l)):
  print(l[i], end = "  ")
print()

10  20  30  40

In [ ]:
#to do
#perform of the sum of first 10 natural numbers(use loop)
n = 0
for x in range(1,11):
  n = n + x

print("Sum of first 10 natural numbers is:",n)

Sum of first 10 natural numbers is: 55

In [ ]:
#while loop
while expression:
  statement(s)

In [ ]:
count = 0
while (count<3):
  count = count + 1
  print('hello')

hello
hello
hello

In [ ]:
a = [1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    continue
  print('current letter',a[i])
  i +=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

In [ ]:
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    break
  print('current letter',a[i])
  i +=1

current letter h

Day-5

In [ ]:
questions =['name','color','shape']
answers = ['apple','red','circle']
for question, answer in zip(questions,answers):
  print('What is your{0}? I am {1}.'.format(question,answer))

What is yourname? I am apple.
What is yourcolor? I am red.
What is yourshape? I am circle.

In [ ]:
n = int(input())

a = list(map(int, input().strip()))

1234
4567

In [ ]:
print(a)

[4, 5, 6, 7]

In [ ]:
Function:
  statement

In [ ]:
def eo(x):
  if (x%2 == 0):
    print('even')
  else:
    print('odd')

In [ ]:
eo(2)

even

In [ ]:
eo(27272727839)

odd

In [ ]:
n = input().strip(' ')
a = list(map(int,n))

In [ ]:
def square_value(num):
  return num**2

  print(square_value(2))

In [ ]:
Lambda Function - whole function is written in one line itself

lambda arguments :  Expression

In [ ]:
x = lambda a: a + 5
print(x(22))

27

In [ ]:
x = lambda z: z + 5
print(x(5))

10

In [ ]:
def db(n):
  return lambda x:x*n
num_double = db(2)
print(num_double(11))

22

**PANDAS**

In [ ]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
import numpy as  np

In [ ]:
#importing the library

import pandas as pd

In [ ]:
#series
data = [1,2,3,4,45,6,7]
d = pd.Series(data)
print(d)

0     1
1     2
2     3
3     4
4    45
5     6
6     7
dtype: int64

In [ ]:
s=pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d=pd.date_range('20220310',periods=10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#program to create Dataframe of three Series
import pandas as pd

s1=pd.Series([1,2,3,4,5,6,2,9])
s2=pd.Series([1.1,3.5,4.7,5.8,2.9,9.3])
s3=pd.Series(['a','b','c','d','e'])

data={'first':s1, 'second':s2,'third':s3}
dfseries =pd.DataFrame(data)
print(dfseries)

   first  second third
0      1     1.1     a
1      2     3.5     b
2      3     4.7     c
3      4     5.8     d
4      5     2.9     e
5      6     9.3   NaN
6      2     NaN   NaN
7      9     NaN   NaN

In [ ]:
dfseries.to_csv('basic.csv')

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D':np.array([5]*4,dtype = 'int32'),
                   'E':pd.Categorical(['test','train','train','test'])
                   })

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.head()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.head(2)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:
df.loc[:,['A','B','C']]

   A          B  C
0  1 2022-03-10  1
1  2 2022-03-10  1
2  3 2022-03-10  1
3  4 2022-03-10  1

In [ ]:
#from position
df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
df[df['A'] >2]

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
isnull()
dropna()
fillna()
isna(na)

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

A    2.5
C    1.0
D    5.0
dtype: float64

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)

In [ ]:
df

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64